.Skills{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7em;
    text-align: center;
    //margin-top: 0rem;
    color:antiquewhite;
    background-color: rgb(25, 24, 24);

}
