@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar1{
    background: black;
    width:100vw;
    height:12vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);

    .logo{

        display:flex;
        flex-direction: column;
        justify-content: Left;
        align-items: left;
        margin-left: 1rem;
        img{
            display: block;
            float: left;
            margin:8px auto;
            width:20px;
            height:40px;
            &:hover{
                transition: all 0.4s ease-in-out;
                transform: scale(1.5);
            }
           
        }
        .text1{
            color:white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Pacifico', cursive;
            text-shadow: 0px 2.98256px 7.4564px rgba(247, 242, 242, 0.5);
        }

    }
    nav{
        display: flex;
        float: right ;
        justify-content: center;
        margin-top: 1rem; 
        .linkeds{
            width:90vw;
            display: flex;
            justify-content: right;
            align-items: center;
            gap:1rem;
            .nav-links-block{
                display: flex;
               // margin-top:12%;
               // visibility: hidden;
                gap: 1rem;
              
               }
            .buttt{
                visibility: hidden;
            }
            a{
                font-size: 30px;
                color:black;
                display: block;
                justify-content: center;
                //line-height: 50px;
                height:50px;
                
                svg{
                    color:#4db5ff;
                }
    
                i {
                    transition: all 0.5s ease-in-out;
                }
    
                &:hover {
                    color:#2c2c6c;
                    svg{
                        opacity:0.5;
                    }
                    &:after{
                        opacity:1;
                    }
                }
                
            }
            
           
            a.active{
                svg {
                    color:#ffd700;
                }
            }
            
        }
         
        
    }
    ul{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-top:75vh;


        li{
            line-height: 45px;
            
        }

        a{
            text-decoration: none;
            svg{
                color:#4db5ff;
            }

            &:hover{

                svg{
                    color:#ffd700;
                    transition: all 0.1s ease-in-out ;
                    transform: scale(1.7);
                }
            }
        }
        .arrowdown{
            svg{
                transform: scaleY(1.5) scaleX(1.3);

                color:#4db5ff;

            }
        }

    }
    

}
////////////////////////////////////



@media screen and (max-width:400px){
 
   .nav-bar1{
    width:100vw;
    height:6.5rem;
    display: flex;
    //flex-direction: row;
    position: fixed;

    .logo{
        float: left;
        margin-left:1rem  ;
       
        .text1{
            float: left;
            font-size: 15px;
        }
        img{
            height: auto;
            width: 20px;
        }

    }
    nav{ 
        
       // margin-right:10%;
        margin-top:-1.5rem;
        justify-content: center;
        .linkeds{
            width:90vw;
            display: flex;
            //margin-top: 0%;
            //margin-left: 10%;
            //background-color: red;
           // z-index: -1;
           margin-left: -50%;
           .nav-links-block{
            display: flex;
            margin-top:12%;
            visibility: hidden;
            gap: 1rem;
          
           }
           .buttt{
            visibility: visible;
           }
           .checks{
            font-size: 35px;
            color:rgb(13, 186, 230);
            position: fixed;
            right:2%;
            top: 4.2%;


           
           }
        }

        .menus{
            z-index: 999;
            //visibility: hidden;
            margin-top:17%;
            
            
            transition: all ease-in ease-out 0.5s;
        }
        
    }
    .contact-list{
        display: flex;
        flex-direction: row;

        visibility: hidden;
        ul{
            display: flex;
            flex-direction: row;
            margin-top: 0px;
            float: right;
            align-items: right;
            
           
        }
    
    }
    .menu{
        

      
        animation: fadeIn 1.5s forwards;
        
    }
    
   }
   /////
  

}

@keyframes fadeIn {
    0%{
        opacity: 0;
        
    }
   
    100%{
       opacity: 1;
      
    }
    
}